body {
    background-color: #333030;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
a {
    margin-left: 20px;
    margin-right: 30px;
}

a:link {
    text-decoration: none;
    color: white;
}
a:hover {
    color: red;
}

.menu {
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.contenedor_texto {
    position: absolute;
    width: 100vw;
    height: 13vw;
    display: flex;
    min-height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../imagenes_blog/estrellas_oscuras.avif");
    background-size: cover;
    background-position: center;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
}
.contenedor_img{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 27%;
    min-height: 150px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.lista-desplegable{
    position: relative;
}

.lista-desplegable-contenido{
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 1000;
    background-color: #333030;
    min-width: 130px;
    line-height: 1.8;
}
.lista-desplegable:hover .lista-desplegable-contenido{
    display: block;
}

#inicio {
    color: aqua;
}
#inicio:hover {
    color: red;
}
#listas {
    display: flex;
    list-style-type: none;
}

#titulo_blog{
    font-size: 50px;
    margin: 0;
}
#subtexto1{
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
#subtexto2{
    font-weight: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}
#subtexto2:after{
    content: attr(data-sub);
    
}
